## Convolutional neural networks: case Zalando
Fashion-MNIST is a dataset of Zalando's article images—consisting of a training set of 60,000 examples and a test set of 10,000 examples. Each example is a 28x28 grayscale image, associated with a label from 10 classes.  
  
Each image is 28 pixels in height and 28 pixels in width, for a total of 784 pixels in total. Each pixel has a single pixel-value associated with it, indicating the lightness or darkness of that pixel, with higher numbers meaning darker. This pixel-value is an integer between 0 and 255. The training and test data sets have 785 columns. The first column consists of the class labels (see above), and represents the article of clothing. The rest of the columns contain the pixel-values of the associated image.  
  
To locate a pixel on the image, suppose that we have decomposed x as x = i * 28 + j, where i and j are integers between 0 and 27. The pixel is located on row i and column j of a 28 x 28 matrix.  
  
For example, pixel31 indicates the pixel that is in the fourth column from the left, and the second row from the top.
  
#### Labels
  
Each training and test example is assigned to one of the following labels:  

- 0 T-shirt/top
- 1 Trouser
- 2 Pullover
- 3 Dress
- 4 Coat
- 5 Sandal
- 6 Shirt
- 7 Sneaker
- 8 Bag
- 9 Ankle boot
  
#### Questions  
  
- Visualize the first 25 images in a 5x5 matrix. Tip: you can convert a pandas dataframe in a numpy (2-dimensional) array with df.to_numpy()
- Create a convolutional forward neural network model to predict the label from the image 
- Play around with some of the hyperparameters to see if you can get a better result as with the simple feed forward ANN
- Determine the accuracy of the model
- Visualize some incorrectly classified article images.

In [1]:
import numpy as np
import pandas as pd

train = pd.read_csv('data/fashion-mnist_train.csv',sep=',')
test  = pd.read_csv('data/fashion-mnist_test.csv',sep=',')
train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0