### Exercise: energy consumption in building vs outside air temperature
The data provided in `buildingoat.csv` uses a dataset to model the Power of a building using the Outdoor Air Temperature (OAT) as an explanatory variable.  
  
Solve each subquestion in one cell.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Import buildingoat.csv. Show the first 5 records

data = pd.read_csv('data/buildingoat.csv')
data.head()

       Timestamp  OAT (F)  Power (kW)
0  1/1/2010 1:15       51       165.1
1  1/1/2010 1:30       51       151.6
2  1/1/2010 1:45       51       146.9
3  1/1/2010 2:00       51       153.7
4  1/1/2010 2:15       51       153.8

In [3]:
# Convert the type of Timestamp from 'object' to 'datetime'. This will change the format of Timestamp
data['Timestamp'] = pd.to_datetime(data['Timestamp'], format='%m/%d/%Y %H:%M')
data.head()

            Timestamp  OAT (F)  Power (kW)
0 2010-01-01 01:15:00       51       165.1
1 2010-01-01 01:30:00       51       151.6
2 2010-01-01 01:45:00       51       146.9
3 2010-01-01 02:00:00       51       153.7
4 2010-01-01 02:15:00       51       153.8

In [4]:
# Convert the type of to String
data['Timestamp'] = data['Timestamp'].astype(str)
data.head()

             Timestamp  OAT (F)  Power (kW)
0  2010-01-01 01:15:00       51       165.1
1  2010-01-01 01:30:00       51       151.6
2  2010-01-01 01:45:00       51       146.9
3  2010-01-01 02:00:00       51       153.7
4  2010-01-01 02:15:00       51       153.8

In [5]:
# Give the dimensions of the dataset

In [6]:
# Drop the rows that have columns with no available data

In [7]:
# Give the new dimensions of the dataset

In [8]:
# Give the statistics of the dataset

In [9]:
# You can see that the minimum value of Power (kW) is 0.0
# Calculate the mean and the standard deviation for Power (kW)

In [10]:
# The 68-95-99.7 - rule in mind: drop all values that are more than 3 standard deviations from the mean

In [11]:
# Give the new dimensions of the dataset

In [12]:
# Plot the Power (kW) versus the OAT (F)

In [13]:
# The Power is highly dependent on the month of the year, the day of the week and the time of the day
# We will use this information to incorporate it into our regression model.
# Add an extra column Month. The month has the integer value of the month (e.g. not 01, but 1)

In [14]:
# Add an extra column Day. The day has the integer value of the day (e.g. not 01, but 1)

In [15]:
# Add an extra column Hour. The Hour has the integer value of the hour (e.g. not 01, but 1)

In [16]:
# Select the data of 1 specific day (e.g. 2010-03-04)

In [17]:
# Plot for that day the OAT (F) versus the Hour of day

In [18]:
# Plot the Power (kW) versus the Hour of day

In [19]:
# Use RandomForestRegressor to predict the Power (kW)
# find the optimal number of trees based on MAE

In [20]:
# Use Multiple Polynomial Regression to predict the Power (kW) 
# Find the optimal polynomial degree based on MAE
# Compare the MAE to Random Forest