## PART  1
Het bestand `blog-gender-dataset.csv` bevat ongeveer 3000 blog posts, samen met het geslacht van de blogger. <br>
Het is de bedoeling om na te gaan of het geslacht kan afgeleid worden uit de tekst.

a. Importeer de data uit de file blog-gender-dataset.csv in een Pandas DataFrame

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/HOGENT-Databases/DB3-Workshops/master/data/blog-gender-dataset.csv'
blog = pd.read_csv(url)

b. Toon de laatste 10 rijen om een idee te krijgen van de inhoud

In [2]:
blog.tail(10)

                                                   text gender
3222  "weird"\n\nlet's discuss what this word means ...      F
3223  There are two types of fall guys; one who will...      M
3224  I like...flipping my blankets over to the cold...      F
3225  Alone for so long walking down the path of dar...      M
3226  It's been more than a month since I posted any...      F
3227  It was a scavenger style race with checkpoints...      M
3228  Finally! I got a full day's work done. Almost ...      F
3229  At the height of laughter, the universe is flu...      M
3230  I like birds, especially woodpeckers and MOST ...      M
3231  Oh friends, it's finally here! I thought the m...      F

c. Bepaal het totaal aantal blogteksten

In [3]:
blog.count()

text      3226
gender    3227
dtype: int64

d. Bepaal het aantal blogteksten per unieke waarde van gender (= geslacht)

In [4]:
blog.groupby("gender").count()

        text
gender
 F       153
 M       126
 M         1
F       1390
F          1
M       1546
f          4
m          5

e. Je merkt dat M and F elk meerdere keren voorkomen. Hoe verklaar je dit?

In [5]:
## Verschillende schrijfwijzen (M/m) en spaties vooraan/achteraan.

f. Los dit probleem op, zodat je nog slechts twee lijnen overhoudt: M en F. Toon je resultaat.

In [6]:
blog["gender"] = blog["gender"].str.strip()
blog["gender"] = blog["gender"].str.upper()

blog.groupby("gender").count()

        text
gender
F       1548
M       1678

g. Verwijder alle lijnen die lege waarden in een van de kolommen bevatten.

In [7]:
blog = blog.dropna()

h. Hoeveel lijnen zijn er nu nog? [1 pt]

In [8]:
blog.count()

text      3226
gender    3226
dtype: int64

i. In de psychologie wordt vaak beweerd dat vrouwen meer woorden gebruiken dan mannen. <br>
We gaan controleren of dit ook klopt voor deze blogposts. <br>
Voeg een extra kolom 'aantalWoorden' toe waarbij het aantal woorden per blogpost komt te staan. <br>
Voor de eenvoud spreken we over 2 woorden wanneer ze worden gescheiden van elkaar door een spatie. <br> 
Je moet geen rekening houden met speciale karakters en dergelijke, bijvoorbeeld it's wordt geteld als één woord <br>
Toon de laatste 10 rijen om te controleren of de berekening klopt [4 pt]

In [9]:
blog['aantalWoorden'] = blog.text.str.split().apply(len)
blog.tail(10)

                                                   text gender  aantalWoorden
3222  "weird"\n\nlet's discuss what this word means ...      F            150
3223  There are two types of fall guys; one who will...      M            243
3224  I like...flipping my blankets over to the cold...      F             83
3225  Alone for so long walking down the path of dar...      M            303
3226  It's been more than a month since I posted any...      F            407
3227  It was a scavenger style race with checkpoints...      M            168
3228  Finally! I got a full day's work done. Almost ...      F            317
3229  At the height of laughter, the universe is flu...      M            192
3230  I like birds, especially woodpeckers and MOST ...      M            106
3231  Oh friends, it's finally here! I thought the m...      F            310

j. Bereken het gemiddeld aantal woorden per geslacht [2 pt]

In [10]:
blog.groupby("gender").mean()

        aantalWoorden
gender
F          412.638243
M          426.864124

k. Geef de 20 blogposts met het grootste aantal woorden [3 pt]

In [11]:
blog.sort_values(by='aantalWoorden',ascending=False).head(20)

                                                   text gender  aantalWoorden
2805   "Morning Near Black Mesa", Oil on Panel, 8x10...      M           6148
2808  Hey kids.. sorry, but you probably won't be se...      F           6142
1264  If you're familiar with my last AER9, you'll r...      M           6040
2806   It's been roughly nine months since I got a s...      F           6040
1298   Question of the week/fill in the blanks: on a...      M           5963
2848   1887 “Mind you stay together, you lot! Make s...      F           5961
1372   I can't hear you cuz I'm stupid This is going...      F           5958
2852   Fifteen years ago, I was on my way to the Aus...      F           5935
1431   Cavum by Wolfgang Kramer and Michael Kiesling...      M           5930
2787   Serge in Canada said... Thank you so much for...      M           5904
2888   I plan to stop being a public, personal, stor...      F           5895
1392   Dear Readers: I am busily working on my first...      F           5830
1468   Sam Juliano, For Being My Guest As We Counted...      F           5812
1326   The post was written for http://mrbrownthumb....      M           5790
1449  I've been extremely busy with DealBase work, s...      M           5788
2768  That was a great vacation from blogging.... O....      M           5782
1293   Wake Up Call is a free short story posted by ...      M           5665
2811   Just as the SNL offshoot , Waynes's World , b...      F           5662
1257   Subtitle: Small Worlds and the Groundbreaking...      M           5644
2863   Civil Court's Jurisdiction - Companies Bill, ...      M           5594