## Pandas analytics: case Parking

In [1]:
# read the file parking.csv into a dataframe
# it contains historical information about the available parking spots in 6 city parking garages in Gent
import pandas as pd
url = 'https://raw.githubusercontent.com/HOGENT-Databases/DB3-Workshops/master/data/parking.csv'
parking = pd.read_csv(url)
parking

             LastModified                   Name  Available  Capacity  Open
0     2018-10-24 23:38:00       P01 Vrijdagmarkt        430       647  True
1     2018-10-24 23:38:00              P08 Ramen        147       266  True
2     2018-10-24 23:38:00               P02 Reep        383       470  True
3     2018-10-24 23:34:00  P10 Sint-Pietersplein        575       708  True
4     2018-10-24 23:43:00       P01 Vrijdagmarkt        433       647  True
...                   ...                    ...        ...       ...   ...
2375  2018-10-29 14:59:00  P10 Sint-Pietersplein        261       708  True
2376  2018-10-29 14:59:00       P01 Vrijdagmarkt        106       647  True
2377  2018-10-29 14:57:00       P04 Savaanstraat        236       540  True
2378  2018-10-29 14:56:00              P08 Ramen         83       266  True
2379  2018-10-29 14:56:00               P02 Reep        269       470  True

[2380 rows x 5 columns]

In [2]:
# drop lines with duplicate "LastModified" field and keep the last line 
parking = parking.drop_duplicates(subset=['LastModified','Name'],keep='last')

In [3]:
# read the file holidays.csv into a dataframe
# it contains the official school holidays
holidays = pd.read_csv('https://raw.githubusercontent.com/HOGENT-Databases/DB3-Workshops/master/data/holidays.csv')
holidays

           date
0    2017-12-23
1    2017-12-24
2    2017-12-25
3    2017-12-26
4    2017-12-27
..          ...
137  2019-01-02
138  2019-01-03
139  2019-01-04
140  2019-01-05
141  2019-01-06

[142 rows x 1 columns]

In [5]:
# add a column "holiday" to the parking dataframe that contains "1" if the corresponding date is a holiday an "0" if it's not

In [7]:
# Save the resulting dataframe to a csv file again to your google drive 
from google.colab import drive
drive.mount('/content/gdrive')
parking.to_csv('parking2.csv')