## Pandas analytics: case Parking

In [1]:
# read the file parking.csv into a dataframe
# it contains historical information about the available parking spots in 6 city parking garages in Gent
import pandas as pd
url = 'https://raw.githubusercontent.com/HOGENT-Databases/DB3-Workshops/master/data/parking.csv'
parking = pd.read_csv(url)
parking

             LastModified                   Name  Available  Capacity  Open
0     2018-10-24 23:38:00       P01 Vrijdagmarkt        430       647  True
1     2018-10-24 23:38:00              P08 Ramen        147       266  True
2     2018-10-24 23:38:00               P02 Reep        383       470  True
3     2018-10-24 23:34:00  P10 Sint-Pietersplein        575       708  True
4     2018-10-24 23:43:00       P01 Vrijdagmarkt        433       647  True
...                   ...                    ...        ...       ...   ...
2375  2018-10-29 14:59:00  P10 Sint-Pietersplein        261       708  True
2376  2018-10-29 14:59:00       P01 Vrijdagmarkt        106       647  True
2377  2018-10-29 14:57:00       P04 Savaanstraat        236       540  True
2378  2018-10-29 14:56:00              P08 Ramen         83       266  True
2379  2018-10-29 14:56:00               P02 Reep        269       470  True

[2380 rows x 5 columns]

In [2]:
# drop lines with duplicate "LastModified" field and keep the last line 
parking = parking.drop_duplicates(subset=['LastModified','Name'],keep='last')

In [4]:
# read the file holidays.csv into a dataframe
# it contains the official school holidays
holidays = pd.read_csv('https://raw.githubusercontent.com/HOGENT-Databases/DB3-Workshops/master/data/holidays.csv')
holidays

           date
0    2017-12-23
1    2017-12-24
2    2017-12-25
3    2017-12-26
4    2017-12-27
..          ...
137  2019-01-02
138  2019-01-03
139  2019-01-04
140  2019-01-05
141  2019-01-06

[142 rows x 1 columns]

In [5]:
# add a column "holiday" to the parking dataframe that contains "1" if the corresponding date is a holiday an "0" if it's not
parking['date'] = parking['LastModified'].str[0:10]
parking.head()

,LastModified,Name,Available,Capacity,Open,date
0,2018-10-24 23:38:00,P01 Vrijdagmarkt,430,647,True,2018-10-24
1,2018-10-24 23:38:00,P08 Ramen,147,266,True,2018-10-24
2,2018-10-24 23:38:00,P02 Reep,383,470,True,2018-10-24
3,2018-10-24 23:34:00,P10 Sint-Pietersplein,575,708,True,2018-10-24
4,2018-10-24 23:43:00,P01 Vrijdagmarkt,433,647,True,2018-10-24

In [6]:
holidays['holiday'] = 1
holidays.head()

         date  holiday
0  2017-12-23        1
1  2017-12-24        1
2  2017-12-25        1
3  2017-12-26        1
4  2017-12-27        1

In [7]:
parking = pd.merge(parking,holidays,left_on='date',right_on='date',how='left').fillna(0).drop(['date','Open'],axis=1)

In [8]:
print(parking.tail(50))

             LastModified                   Name  Available  Capacity  holiday
2330  2018-10-29 13:28:00              P08 Ramen         80       266      1.0
2331  2018-10-29 13:27:00               P02 Reep        295       470      1.0
2332  2018-10-29 13:44:00      P07 Sint-Michiels        130       450      1.0
2333  2018-10-29 13:44:00  P10 Sint-Pietersplein        372       708      1.0
2334  2018-10-29 13:44:00       P01 Vrijdagmarkt         75       647      1.0
2335  2018-10-29 13:40:00       P04 Savaanstraat        227       540      1.0
2336  2018-10-29 13:41:00              P08 Ramen         80       266      1.0
2337  2018-10-29 13:44:00               P02 Reep        290       470      1.0
2338  2018-10-29 13:59:00      P07 Sint-Michiels        124       450      1.0
2339  2018-10-29 13:59:00  P10 Sint-Pietersplein        328       708      1.0
2340  2018-10-29 13:58:00       P01 Vrijdagmarkt         61       647      1.0
2341  2018-10-29 13:59:00       P04 Savaanstraat        225       540      1.0
2342  2018-10-29 13:57:00              P08 Ramen         82       266      1.0
2343  2018-10-29 13:59:00               P02 Reep        284       470      1.0
2344  2018-10-29 14:06:00      P07 Sint-Michiels        125       450      1.0
2345  2018-10-29 14:06:00  P10 Sint-Pietersplein        307       708      1.0
2346  2018-10-29 14:06:00       P01 Vrijdagmarkt         67       647      1.0
2347  2018-10-29 14:06:00       P04 Savaanstraat        228       540      1.0
2348  2018-10-29 14:04:00              P08 Ramen         82       266      1.0
2349  2018-10-29 14:06:00               P02 Reep        285       470      1.0
2350  2018-10-29 14:14:00      P07 Sint-Michiels        122       450      1.0
2351  2018-10-29 14:14:00  P10 Sint-Pietersplein        287       708      1.0
2352  2018-10-29 14:14:00       P01 Vrijdagmarkt         71       647      1.0
2353  2018-10-29 14:13:00       P04 Savaanstraat        233       540      1.0
2354  2018-10-29 14:13:00              P08 Ramen         82       266      1.0
2355  2018-10-29 14:13:00               P02 Reep        286       470      1.0
2356  2018-10-29 14:27:00      P07 Sint-Michiels        119       450      1.0
2357  2018-10-29 14:29:00  P10 Sint-Pietersplein        275       708      1.0
2358  2018-10-29 14:29:00       P01 Vrijdagmarkt         95       647      1.0
2359  2018-10-29 14:29:00       P04 Savaanstraat        227       540      1.0
2360  2018-10-29 14:29:00              P08 Ramen         82       266      1.0
2361  2018-10-29 14:28:00               P02 Reep        275       470      1.0
2362  2018-10-29 14:35:00      P07 Sint-Michiels        109       450      1.0
2363  2018-10-29 14:36:00  P10 Sint-Pietersplein        262       708      1.0
2364  2018-10-29 14:37:00       P01 Vrijdagmarkt        111       647      1.0
2365  2018-10-29 14:36:00       P04 Savaanstraat        227       540      1.0
2366  2018-10-29 14:37:00              P08 Ramen         81       266      1.0
2367  2018-10-29 14:36:00               P02 Reep        273       470      1.0
2368  2018-10-29 14:44:00      P07 Sint-Michiels        111       450      1.0
2369  2018-10-29 14:44:00  P10 Sint-Pietersplein        262       708      1.0
2370  2018-10-29 14:44:00       P01 Vrijdagmarkt        104       647      1.0
2371  2018-10-29 14:44:00       P04 Savaanstraat        235       540      1.0
2372  2018-10-29 14:44:00              P08 Ramen         84       266      1.0
2373  2018-10-29 14:44:00               P02 Reep        269       470      1.0
2374  2018-10-29 14:59:00      P07 Sint-Michiels        124       450      1.0
2375  2018-10-29 14:59:00  P10 Sint-Pietersplein        261       708      1.0
2376  2018-10-29 14:59:00       P01 Vrijdagmarkt        106       647      1.0
2377  2018-10-29 14:57:00       P04 Savaanstraat        236       540      1.0
2378  2018-10-29 14:56:00              P08 Ramen         83       266      1.0
2379  2018-10-29 14:56:00               P02 Reep        269       470      1.0

In [9]:
parking[parking['holiday']==1]

             LastModified                   Name  Available  Capacity  holiday
1029  2018-10-27 00:14:00      P07 Sint-Michiels        196       450      1.0
1030  2018-10-27 00:14:00  P10 Sint-Pietersplein        555       708      1.0
1031  2018-10-27 00:13:00       P01 Vrijdagmarkt        208       647      1.0
1032  2018-10-27 00:14:00       P04 Savaanstraat        521       540      1.0
1033  2018-10-27 00:13:00              P08 Ramen         52       266      1.0
...                   ...                    ...        ...       ...      ...
2375  2018-10-29 14:59:00  P10 Sint-Pietersplein        261       708      1.0
2376  2018-10-29 14:59:00       P01 Vrijdagmarkt        106       647      1.0
2377  2018-10-29 14:57:00       P04 Savaanstraat        236       540      1.0
2378  2018-10-29 14:56:00              P08 Ramen         83       266      1.0
2379  2018-10-29 14:56:00               P02 Reep        269       470      1.0

[1351 rows x 5 columns]

In [12]:
# Save the resulting dataframe to a csv file again to your google drive 
from google.colab import drive
drive.mount('/content/gdrive')
parking.to_csv('/content/gdrive/My Drive/parking2.csv')

ModuleNotFoundError: No module named 'google.colab'